* {
    margin: 0;
    box-sizing: border-box;
}
p {
    color: red;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-input {
    margin-bottom: 10px;
}